button {
  border: none;
  background: none;
  padding: 0;
}
.app {
  width: fit-content;
  height: fit-content;
}
.main {
  margin-top: 0%;
  margin-left: 0%;
  margin-bottom: 0%;
  margin-right: 0%;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1vw;
  position: static;
}

.content-block-1 {
  width: 15vw;
  height: 100%;
  background-color: beige;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.content-block-2 {
  width: 100%;
  height: 100%;
  /* background-color: beige; */
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  overflow: scroll;
  display: flex;
  align-items: center;
  justify-content: center;
}

.k-dropzone-icon {
  display: inline-block;
  height: 10vh;
}

.file-upload {
  height: 100%;
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: center;
  /* margin: 2%; */
}
.upload-container {
  padding: 3%;
  display: grid;
  justify-items: center;
  /* grid-template-columns: auto 1fr; */
}
.upload-input-field {
  display: flex;
  overflow: hidden;
  width: 100%;
  /* padding: 1%; */
  background-color: var(--color-light);

  border: 2px solid #ffff;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.upload-file-name {
  padding-left: 1%;
  display: flex;
  flex: 1;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.nav {
  position: fixed;
  height: 98vh;
  /* max-width: 8vw; */
  padding: 1%;
  background-color: var(--color-nav);
  flex-shrink: 0;
  transition: all 0.3s ease-in-out;
}
.nav-grid {
  width: 100%;
  height: 98%;
  display: grid;
  grid-template-rows: auto 1fr auto;
  text-wrap: nowrap;
  /* align-content: space-between; */
}
.nav-list {
  height: 100%;
  width: inherit;
  display: flex;
  flex-direction: column;
  gap: 1%;
  overflow: hidden;
}

.nav-header {
  display: grid;
  justify-content: left;
}
/* .nav-user {
  height: min-content;
} */
.icon {
  font-size: 2rem !important;
}

.correction {
  cursor: pointer;
  border-bottom: 1px solid red;
}
.correction:hover {
  border-bottom: 2px solid red;
}
/* .tooltip {
  position: relative;
  cursor: pointer;
} */

/* .tooltip::before {
  content: attr(data-edit);
  position: absolute;

  transform: translateY(-50%);
  left: 0;
  background-color: #f9f9f9;
  
  border-radius: 4px;
  font-size: 0.8rem;
  opacity: 0;
  transition: opacity 0.3s ease;
} */
/* .tooltip:after {
  content: "";
  position: absolute;
  
  left: 100%;
  margin-left: -5px;
  
  transform: translateY(-50%);
  
  border: 10px solid #000;
  border-color: transparent black transparent transparent;
  opacity: 0;
} */

/* .tooltip:hover:before,
.tooltip:hover:after {
  opacity: 1;
} */

.no-wrap {
  text-wrap: nowrap;
}
.list-item {
  gap: 2%;
}
.css-78trlr-MuiButtonBase-root-MuiIconButton-root,
.css-bshv44-MuiButtonBase-root-MuiListItem-root {
  padding: 0 !important;
}
.css-i4bv87-MuiSvgIcon-root {
  width: 2rem !important;
  height: 2rem !important;
  fill: var(--color-light) !important;
}
.css-i4bv87-MuiSvgIcon-root:hover {
  fill: var(--color-highlight);
}

.file-input {
  height: 4rem;
  width: 4rem;
  fill: var(--color-highlight);
}
.upload-button {
  padding: 1%;
  color: var(--color-text);
  display: flex;
  justify-items: center;
  background-color: var(--color-highlight);
  transition: all 0.3s ease-in-out;
}
.upload-button:hover {
  color: var(--color-light);
}
.upload-button-svg {
  height: 2rem;
  width: 2rem;
  transition: all 0.3s ease-in-out;
}

.bold {
  font-weight: bold;
  color: var(--color-light);
}
.new_file {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2.5%;
  color: var(--color-light);
  width: 100%;
}
.nav-item-text {
  /* width: 100%; */
  /* max-width: 10vw; */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* flex-shrink: 0; */
  /* flex-grow: 1; */
}
.menu-text {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 5%;
  color: var(--color-light);
  font-family: var(--ff-logo);
}
.header-button {
  display: flex;
  flex-direction: row;
  gap: 2.5%;
}
.profile-box {
  display: flex;
  align-items: center;
  color: var(--color-light);
  gap: 2%;
  font-size: 1rem;
}
.doc-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  height: 94%;
  width: 100%;
}
.doc-content {
  width: 100%;
  /* margin-left: 2%;
  margin-right: 2%; */
  height: 100%;
  display: flex;

  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.divider {
  height: 100%;
  border: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.3);
  /* margin-left: 0.5%;
  margin-right: 0.5%; */
}
.dual-document-viewer {
  padding: 2%;
  margin-left: 8vw;
  margin-right: 8vw;
  display: flex;
  flex-direction: column;
  background-color: var(--color-background);
  height: 80%;
  width: 100%;
  border-radius: 0.5%;
  -webkit-border-radius: 0.5%;
  -moz-border-radius: 0.5%;
  -ms-border-radius: 0.5%;
  -o-border-radius: 0.5%;
  align-items: center;
  box-shadow: 1px 2px 50px var(--color-light);
}
.content {
  height: 100%;
  line-height: 200%;
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  overflow: scroll;
}

.content-warning {
  align-items: center;
  color: var(--color-highlight);
}
.content-warning-span:hover {
  color: var(--color-nav);
  cursor: pointer;
}

.document-title {
  font-size: 2rem;
  width: 100%;
  border-bottom: rgba(0, 0, 0, 0.3);
  border-width: 2px;
  border-bottom-style: solid;
  display: flex;
  justify-content: center;
  padding: 1%;
}
.text-title {
  /* font-size: 1.5rem; */
  width: 96%;
  display: flex;
  justify-content: right;
  padding: 2.5%;
  /* padding-right: 5%; */
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.2);
}
.left {
  justify-content: left;
}
/* HTML: <div class="loader"></div> */
.loader {
  width: 50px;
  aspect-ratio: 1;
  box-shadow: 0 0 0 3px var(--color-text) inset;
  border-radius: 50%;
  position: relative;
  animation: l6 1.5s linear infinite;
}
.loader:before {
  content: "";
  position: absolute;
  top: 100%;
  box-shadow: inherit;
  width: 25px;
  aspect-ratio: 1;
  border-radius: 50%;
}
@keyframes l6 {
  to {
    transform: rotate(360deg);
  }
}

.loader-container {
  width: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 60%;
  height: 60%;
}

.content-button {
  display: flex;
  justify-content: center;
  padding: 2%;
  width: 30%;
  background-color: var(--color-light);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -ms-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
}
.content-button:hover {
  /* height: 100.1%; */
  color: var(--color-light);
  background-color: var(--color-highlight);
}

.content-icon {
  height: 1.5rem;
  width: 1.5rem;
}
.content-button-text {
  height: 100%;
  display: flex;
  align-items: center;
}
.nav-mobile {
  display: none;
}
.nav-mobile-button {
  color: var(--color-light);
}

.css-4t3x6l-MuiPaper-root-MuiDrawer-paper {
  background-color: var(--color-nav) !important;
}
.menu-icon {
  fill: var(--color-nav) !important;
}

@media only screen and (max-width: 500px) {
  .nav {
    display: none;
  }
  .upload-container {
    width: 80%;
  }
  .nav-mobile {
    display: block;
    position: absolute;
    height: 10%;
  }
  .new_file {
    padding-left: 10%;
  }
  .divider {
    display: none;
  }
  .original-text {
    display: none;
  }
}
