.app {
  width: fit-content;
  height: fit-content;
}
.main {
  margin-top: 0%;
  margin-left: 0%;
  margin-bottom: 0%;
  margin-right: 0%;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 1vw;
  position: static;
}

.content-block-1 {
  width: 15vw;
  height: 100%;
  background-color: beige;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.content-block-2 {
  width: 100%;
  height: 100%;
  /* background-color: beige; */
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  overflow: scroll;
  display: flex;
  align-items: center;
  justify-content: center;
}

.k-dropzone-icon {
  display: inline-block;
  height: 10vh;
}

.file-upload {
  height: 100%;
  width: 100%;
  display: grid;
  justify-items: center;
  align-items: last baseline;
  /* margin: 2%; */
}
.upload-container {
  padding: 3%;
  display: grid;
  justify-items: center;
  /* grid-template-columns: auto 1fr; */
}
.upload-input-field {
  display: flex;
  width: 96%;
  padding: 1%;
  /*background-color: #ffffff71;
  */
  border: 2px solid #ffff;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}
.upload-file-name {
  flex: 1;
}

.nav {
  height: 100%;
  width: max-content;
}
.nav-grid {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}
.nav-list {
  height: 100%;
  width: fit-content;
}

.nav-header {
  width: 100%;
  background-color: aliceblue;
}

.icon {
  font-size: 2rem !important;
}
.correction {
  text-decoration: underline;
}
.tooltip {
  position: relative;
  cursor: pointer;
}

.tooltip::before {
  content: attr(data-edit);
  position: absolute;
  top: -20px; /* Adjust as needed */
  left: 0;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 4px;
  border-radius: 4px;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.tooltip:hover::before {
  opacity: 1;
}
